/* common style starts here */

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

:root {
    --Dark-color: #181818;
    --dark1: #181818;
    --dark2: #474747;
    --dark3: #757575;
    --white-Color: #fff;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-Color);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
}

.section_title {
    color: var(--dark1);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-top: 130px;
    padding: 0 130px;
}

/* common ends here  */

/* header starts here */

.header {
    width: 1600px;
    margin: auto;
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}


/* ------nav starts here------  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 225px;
}

.logo-title {
    color: var(--Dark-color);
    font-size: 45px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.marry {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    color: var(--dark2);
}

/* -------nav ends here----------  */



/* banner starts here */

#banner {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
    padding: 0 220px 184px;
}

.banner-content h3 {
    color: --dark2;
    font-size: 45px;
    font-weight: 500;

}

.banner-content h1 {
    color: --Dark-01;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.banner-content p {
    color: var(--dark3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.contact_btn {
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    background-color: var(--white-Color);
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}

#banner .profile {
    width: 500px;
    margin-bottom: -50px;

}


/* banner ends here  */


/* header ends here  */


/* About section starts here  */
.about_section {
    padding-bottom: 130px;
}


.about_section p {
    padding: 0 30px;
    color: var(--dark3);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}


.info_container {
    display: flex;

    justify-content: space-between;
}

.info p {
    color: var(--dark3);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.info .info_p {
    color: var(--dark2);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* About section ends here  */


/* skill section starts from here  */
.skill_Section {
    padding-bottom: 130px;
}

.skill_Section .section_title {
    padding-bottom: 30px;
}

.skill_Section .section_info {
    color: var(--dark3);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.skills_all {
    display: flex;
}

.skills_p {
    padding: 30px;
    margin-right: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}


/* skill section ends here  */


/* resume starts here  */
.resume_edu_experience {
    display: flex;
    gap: 70px;
}

.My_education .item h2 {
    color: var(--dark2);
    font-size: 25px;
    font-weight: 700;
    padding: 30px 0 10px;
}

.item_text {
    color: var(--dark3);
    font-size: 20px;
    font-weight: 600;
}

.text_p {
    color: var(--dark3);
    font-size: 16px;
    font-weight: 400;
}

.text_h2 {
    color: var(--dark2);
    font-size: 25px;
    font-weight: 700;
}

.text_p {
    color: var(--dark3);
    font-size: 20px;
    font-weight: 600;
}

.content_p {
    color: var(--dark3);
    font-size: 16px;
    font-weight: 400;


}
.download_cv {
    text-align: center;
    margin-top: 50px;
}

/* resume ends here  */

/* Footer section starts here  */

/* Footer ends here  */